.cardsContainer {
    flex-basis: 2;
    flex-shrink: 30;
}

mat-card {
    margin: 0.65%;
    padding: 0;
    width: 20%;
    max-height: 45%;
    overflow: hidden !important;
    text-overflow: ellipsis;
    animation: 2s fadeIn;
}

mat-card img{
    width: 100%;
    height: 70%;
    margin: 1%;
}

@keyframes fadeIn {
    from {
        margin-top: 0%;
        opacity: 0;
        transform: rotateY(180deg);
    }
    to {
        margin: 0.65%;
        opacity: 1;
        transform: rotateY(0);
    }
}

.cardText {
    text-justify: auto;
    text-align: justify;
    size: 2vw;
    height: 10%;
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    padding: 3%;
}

.errorPainel {
    border-radius: 5px;
    width: 40%;
    margin: 2% ;
    color: #fff;
    padding: 3%;
    background-image: linear-gradient(0.50turn, rgb(68, 10, 97), rgba(105, 0, 113, 0.5));
}
.errorPainel h3 {
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.errorPainel p {
    font-size: 1.8em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
