<div *ngIf="cards$ | async as response; else loading">
    <div fxLayout.gt-sm="row wrap" 
         fxLayout.sm="column" 
         flexLayoutAlign="space-around"
         fxLayoutAlign="center"
         gdRow="3">
        <mat-card @fadeCard *ngFor="let card of response.cards">
            <mat-card-header>
                <strong>
                    <h3>{{ card.name }}</h3>
                </strong>
            </mat-card-header>
            <img mat-card-image [src]="card.imageUrl" default="{{IMAGE_DEFAULT_PATH}}" class="img">
            <mat-card-content>
                <p class="cardText">{{ card.text }}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <jw-pagination [items]="response.cards" 
    (changePage)="onChangePage($event)" [pageSize]="5">
    </jw-pagination>
</div>
<div *ngIf="isErrorOnLoadCards" class="errorPainel">
    <header>
        <h3>Erro ao listar cards!</h3>
    </header>
    <p>Lamentamos a falha, aguarde alguns minutos.</p>
</div>

<ng-template #loading>
    <mat-progress-bar mode="indeterminate" *ngIf="!isErrorOnLoadCards"></mat-progress-bar>
</ng-template>