<div *ngIf="cards$ | async as response; else loading">
    <div class="cardsContainer"
         fxLayout.gt-sm="row wrap" 
         fxLayout.sm="column" 
         flexLayoutAlign="space-between"
         fxLayoutAlign="center"
         gdRow="6"
         gdColumn="7">
        <mat-card *ngFor="let card of response.cards | paginate: { itemsPerPage: 8, currentPage: p }">
            <mat-card-header>
                <strong>
                    <h3>{{ card.name }}</h3>
                </strong>
            </mat-card-header>
            <img mat-card-image [src]="card.imageUrl" default="{{IMAGE_DEFAULT_PATH}}" class="img">
            <mat-card-content>
                <p class="cardText">{{ card.text }}</p>
            </mat-card-content>
        </mat-card>
        <pagination-controls (pageChange)="p = $event"
                             nextLabel="Proximo"
                             previousLabel="Anterior">
        </pagination-controls>
    </div>
</div>
<div *ngIf="isErrorOnLoadCards" class="errorPainel">
    <header>
        <h3>Erro ao listar cards!</h3>
    </header>
    <p>Lamentamos a falha, aguarde alguns minutos.</p>
</div>

<ng-template #loading>
    <mat-progress-bar mode="indeterminate" *ngIf="!isErrorOnLoadCards"></mat-progress-bar>
</ng-template>